[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
imblearn="*"
sklearn="*"
numpy = "*"
pandas = "*"
plotly = "*"
python-dotenv = "*"
scipy = "*"
streamlit = "*"
toml = "*"
xlrd = "*"
openpyxl = "*"
matplotlib="*"
imbalanced-learn = "*"
eli5 = "*"

[dev-packages]

[requires]
python_version = "3.10"
